<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}!
  </h1>
  <img width="300" alt="DC Logo" src="https://vignette.wikia.nocookie.net/batman/images/1/1c/DC_Comics_logo.png/revision/latest?cb=20130913230115&path-prefix=es">
</div>
<h2>Este es el tutorial que estoy siguiendo:</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial/toh-pt1">Seguir por esta parte del tutorial</a></h2>
  </li>
</ul>

<h2>Héroes:</h2>
<app-heroes></app-heroes>

